@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #c20000;
}

body {
  color: var(--background);
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}
